.show-tickets {
  background-color: #2196f3;
  border: 0;
  border-radius: 10px;
  color: #fff;
  height: 40px;
  margin: 15px 0;
  outline: none;
  width: 100%;
  cursor: pointer;
}

.ticket-list {
  width: 100%;
}